<p id="notice"><%= notice %></p>

<h1>Recharge Params</h1>

<table>
  <thead>
    <tr>
      <th>Operadora</th>
      <th>Amount min</th>
      <th>Amount max</th>
      <th>Multiplos amount permit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recharge_params.each do |recharge_param| %>
      <tr>
        <td><%= recharge_param.operadora %></td>
        <td><%= recharge_param.amount_min %></td>
        <td><%= recharge_param.amount_max %></td>
        <td><%= recharge_param.multiplos_amount_permit %></td>
        <td><%= link_to 'Show', recharge_param %></td>
        <td><%= link_to 'Edit', edit_recharge_param_path(recharge_param) %></td>
        <td><%= link_to 'Destroy', recharge_param, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recharge Param', new_recharge_param_path %>
