<p id="notice"><%= notice %></p>

<p>
  <strong>Operadora:</strong>
  <%= @recharge_param.operadora %>
</p>

<p>
  <strong>Amount min:</strong>
  <%= @recharge_param.amount_min %>
</p>

<p>
  <strong>Amount max:</strong>
  <%= @recharge_param.amount_max %>
</p>

<p>
  <strong>Multiplos amount permit:</strong>
  <%= @recharge_param.multiplos_amount_permit %>
</p>

<%= link_to 'Edit', edit_recharge_param_path(@recharge_param) %> |
<%= link_to 'Back', recharge_params_path %>
