<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @contact.names %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @contact.alias %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact.user_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
