<p id="notice"><%= notice %></p>

<h1>Acoounts</h1>

<table>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Document</th>
      <th>Type document</th>
      <th>Number account</th>
      <th>Phone</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acoounts.each do |acoount| %>
      <tr>
        <td><%= acoount.bank %></td>
        <td><%= acoount.document %></td>
        <td><%= acoount.type_document %></td>
        <td><%= acoount.number_account %></td>
        <td><%= acoount.phone %></td>
        <td><%= acoount.user_id %></td>
        <td><%= link_to 'Show', acoount %></td>
        <td><%= link_to 'Edit', edit_acoount_path(acoount) %></td>
        <td><%= link_to 'Destroy', acoount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acoount', new_acoount_path %>
