<%= form_for @deposit, {remote: true}  do |form| %>
  <div class="form">
    <%if @deposit.new_record?%>
      <div class="grupo"><button class="btn btn_standar btn-effect btn-common bg-special" onclick="show_modal_accounts(event)"><i class="fas fa-university" style="color:white"></i></button></div>
    <%end%>

    <!--FECHA DEL PAGO  #################################-->
    <div class="grupo">
      <input required="required" class="input-special" type="text" id="date" name="deposit[date_send]" value="<%=@deposit.date_send.strftime("%d/%m/%Y") if @deposit.date_send.present?%>" oninput="readonly(this)">
      <span class="barra bg-before-Standar"></span>
      <label class="label-special label-Standar">Fecha del pago</label>
      <%if @deposit.errors[:date_send].any? %>
        <p class="msj_error mt-2 bg-danger rounded"><%= @deposit.errors[:date_send].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>

    <!--Cuenta Credito
     ===================================================================-->
    <div class="grupo">
      <%= form.text_field :bank_destinity, :required => "required", class:"input-special input-option", :"data-options" => "#options-banks-destinity", oninput:"readonly(this)" %><span class="barra bg-before-Standar"></span>
      <%= form.label :bank_destinity, "Cuenta Crédito", for: "", class: "label-special label-Standar" %>
      <%if @deposit.errors[:bank_destinity].any? %>
        <p class="msj_error mt-2 bg-danger rounded"><%= @deposit.errors[:bank_destinity].to_s[/\w([^"]*)/] %></p>
      <% end %>

      <div id="options-banks-destinity" style="display:none">
          <a href="#" class="btn_standar btn-common btn-effect bg-special mt-1" data-input ="#deposit_bank_destinity" onclick="push_value_standar(event, this),rectify_method_p(this)">Banco de Venezuela</a>
          <a href="#" class="btn_standar btn-common btn-effect bg-special mt-1" data-input ="#deposit_bank_destinity" onclick="push_value_standar(event, this),rectify_method_p(this)">Banco Mercantil</a>
          <a href="#" class="btn_standar btn-common btn-effect bg-special mt-1" data-input ="#deposit_bank_destinity" onclick="push_value_standar(event, this),rectify_method_p(this)">Banco B.O.D</a>
          <a href="#" class="btn_standar btn-common btn-effect bg-special mt-1" data-input ="#deposit_bank_destinity" onclick="push_value_standar(event, this),rectify_method_p(this)">Banco Bancaribe</a>
          <a href="#" class="btn_standar btn-common btn-effect bg-special mt-1" data-input ="#deposit_bank_destinity" onclick="push_value_standar(event, this),rectify_method_p(this)">Banco Bicentenario</a>
          <a href="#" class="btn_standar btn-common btn-effect bg-special mt-1" data-input ="#deposit_bank_destinity" onclick="push_value_standar(event, this),rectify_method_p(this)">veMonedero</a>
      </div>
    </div>

    <!--Metodo de pago
     ========================================================================-->
    <div class="grupo">
      <%= form.text_field :method_payment, :required => "required", class:"input-special input-option", :"data-options" => "#options-method-payment", oninput:"readonly(this)"%><span class="barra bg-before-Standar"></span>
      <%= form.label :method_payment, "Metodo de pago", for: "", class: "label-special label-Standar" %>
      <%if @deposit.errors[:method_payment].any? %>
        <p class="msj_error mt-2 bg-danger rounded"><%= @deposit.errors[:method_payment].to_s[/\w([^"]*)/] %></p>
      <% end %>

      <div id="options-method-payment" style="display:none">
        <a href="#" class="mt-1 btn_standar btn-common btn-effect bg-special" data-input ="#deposit_method_payment" onclick="push_value_standar(event, this)">Transferencia</a>
        <a href="#" class="mt-1 btn_standar btn-common btn-effect bg-special" data-input ="#deposit_method_payment" id="option-pago-movil" onclick="push_value_standar(event, this)">Pago móvil</a>
      </div>
    </div>

    <!--REFERENCIA DEL PAGO #################################-->
    <div class="grupo" id="div_cod_area">
      <%= form.text_field :ref_payment, :required => "required", class:"input-special input-option", oninput: "input_value_integer(this)", maxlength: "10", minlength: "4" %><span class="barra bg-before-Standar"></span>
      <%= form.label :ref_payment, "N° Referencia", for: "", class: "label-special label-Standar" %>
      <%if @deposit.errors[:ref_payment].any? %>
        <p class="msj_error mt-2 bg-danger rounded"><%= @deposit.errors[:ref_payment].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>

    <!--MONTO ###########################################-->
    <div class="grupo">
      <%= form.text_field :amount, :required => "required", class:"input-special", :oninput => "input_value_decimal_with_separator(this)" %><span class="barra bg-before-Standar"></span>
      <%= form.label :amount, "Monto", for:"", class: "label-special label-Standar" %>
      <%if @deposit.errors[:amount].any? %>
        <p class="msj_error mt-2 bg-danger rounded"><%= @deposit.errors[:amount].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>

    <div class="actions">
      <button type="button" class="btn_standar btn-common btn-effect bg-special text-uppercase" id="btn_deposit">Enviar</button>
      <%=form.submit "Enviar", class: "d-none", id: "btn_submit", onclick: "disabled_button('#btn_deposit')"%>

      <%if current_user.is_admin?%>
        <input type="hidden" name="deposit[operation]" data-model="deposit" value="deneged" id="operation_admin">

        <button type="button" class="mt-2 btn_standar btn-common btn-effect text-uppercase bg-danger" onclick="show_modal_anulate(event)">Anular</button>
      <%end%>
    </div>
  </div>
<% end %>
<script>
  activar_submit_deposit()
</script>
