<div>  
  <%= link_to new_deposit_path, {remote: true, class: "btn btn_standar btn-common btn-effect bg-special", id: "anadir-deposit-btn"}  do %>
    <span class="fas fa-plus-square" style="color:white"></span>
  <% end %>
</div>
<br />

<div id="main-container">
  <table class="table-standar table-deposit" id="table_deposits">
    <thead class="thead-standar bg-special">
      <tr class="tr-standar">
        <th class="th-standar">Fecha</th>
        <th class="th-standar">Banco Destino</th>
        <th class="th-standar">M. Pago</th>
        <th class="th-standar">Referencia</th>
        <th class="th-standar">Monto</th>
        <th class="th-standar">Estatus</th>
      </tr>
    </thead>

    <%current_user.deposits.each do |deposit|%>
      <tr class="tr-standar" id="deposit_<%=deposit.id%>">
        <td class="td-standar" data-label="Fecha"><%=deposit.date_send.strftime("%d/%m/%Y")%></td>
        <td class="td-standar" data-label="Banco Destino"><%=deposit.bank_destinity.gsub("_"," ")%></td>
        <td class="td-standar" data-label="M. Pago"><%=deposit.method_payment.gsub("_"," ")%></td>
        <td class="td-standar" data-label="Referencia"><%=deposit.ref_payment%></td>
        <td class="td-standar" data-label="Monto"><%=number_with_precision(deposit.amount, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2)%></td>
        <td class="td-standar" data-label="Estatus">
          <%if deposit.status === "Diferido"%>
            <%color_badge = "badge-secondary"%>
          <%end%>
          <span class="badge badge-pill <%=color_badge%>"><%=deposit.status%></span>
        </td>
      </tr>
    <%end%>
  </table>
</div>

<%= render 'modal_deposits' %>
<%= render 'modal_accounts' %>



