<%= form_with(model: balace_inquiry) do |form| %>
  <% if balace_inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(balace_inquiry.errors.count, "error") %> prohibited this balace_inquiry from being saved:</h2>

      <ul>
        <% balace_inquiry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :debt %>
    <%= form.text_field :debt %>
  </div>

  <div class="field">
    <%= form.label :avalaible_days %>
    <%= form.text_field :avalaible_days %>
  </div>

  <div class="field">
    <%= form.label :operadora %>
    <%= form.text_field :operadora %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
