<p id="notice"><%= notice %></p>

<p>
  <strong>Debt:</strong>
  <%= @balace_inquiry.debt %>
</p>

<p>
  <strong>Avalaible days:</strong>
  <%= @balace_inquiry.avalaible_days %>
</p>

<p>
  <strong>Operadora:</strong>
  <%= @balace_inquiry.operator %>
</p>

<p>
  <strong>Cod Area:</strong>
  <%= @balace_inquiry.cod_area %>
</p>

<p>
  <strong>Numero de telefono:</strong>
  <%= @balace_inquiry.phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @balace_inquiry.status %>
</p>

<%= link_to 'Edit', edit_balace_inquiry_path(@balace_inquiry) %> |
<%= link_to 'Back', balace_inquiries_path %>
