<%= form_for @recharge, {remote: true}  do |form| %>
  <div class="form">
    
    <%if @recharge.new_record?%>
      <div class="grupo"><button class="btn btn_standar btn-effect btn-common" id="btn_show_contacts" onclick="show_modal_contacts(event)"><i class="far fa-address-book"></i></button></div>
    <%end%>

    <%= form.text_field :operator, type:"hidden" %>
    <!--- TIPO DE PAGO  ----------------------------------------------------------------->
    <%if current_user.is_admin? && @recharge.status === "enviada"%>
      <div class="grupo">
        <%= form.text_field :type_payment, :required => "required", class:"input-special", oninput: "this.value='#{@recharge.type_payment}'" %><span class="barra barra-before-<%=@recharge.operator%>"></span>
        <%= form.label :type_payment, "Tipo de pago", for:"", class: "label-special color-#{@recharge.operator}" %>
      </div>
    <%else%>
      <%= form.text_field :type_payment, type:"hidden" %>
    <%end%>

    <!--CODIGO DE AREA ----------------------------------------------------------->
    <div class="grupo" id="input_cod_area">
      <%= form.text_field :cod_area, :required => "required", class:"input-special", oninput: "input_value_integer(this)", onfocus: "show_cod_area()", onblur: "ocultar_cod_area()", maxlength: "4" %><span class="barra"></span>
      <%= form.label :cod_area, "Cod. Área", for: "", class: "label-special" %>

      <!--MENSAJES DE ERRORES-->
      <p class="msj_error mt-2 bg-danger rounded" id="msj_error_cod_area" style="display:none;">El código de área es inválido.</p>
      <%if @recharge.errors[:cod_area].any? %>
        <p class="msj_error mt-2 bg-danger rounded"><%= @recharge.errors[:cod_area].to_s[/\w([^"]*)/] %></p>
      <% end %>

      <div id="cont-option-list" style="display:none"><!--Los codigos de area se insertan con javascript--></div>
    </div>
  

    <!--- NUMERO DE TELEFONO ----------------------------------------------------------------->
    <div class="grupo">
      <%= form.text_field :number, :required => "required", class:"input-special", oninput: "input_value_integer(this)" %><span class="barra"></span>
      <%= form.label :number, "Número", for:"", class: "label-special" %>
      <p class="msj_error mt-2 bg-danger rounded"  id="msj_error_number_phone" style="display:none;">El número debe contener <span id="digit_lenght"></span> dígitos</p>
      <%if @recharge.errors[:number].any? %>
        <p class="msj_error mt-2 bg-danger rounded"><%= @recharge.errors[:number].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>

    <!--MONTO-->
    <div class="grupo" id="input_monto">
      <%= form.text_field :amount, :required => "required", class:"input-special", oninput:"input_value_integer_with_separator(this)", onfocus: "show_montos()", onblur: "ocultar_montos()" %><span class="barra"></span>
      <%= form.label :amount, "Monto", for: "", class: "label-special" %>
      <p class="msj_error mt-2 bg-danger rounded"  id="msj_error_monto" style="display:none;">El monto es inválido.</p>
      <%if @recharge.errors[:amount].any? %>
        <p class="msj_error mt-2 bg-danger rounded"><%= @recharge.errors[:amount].to_s[/\w([^"]*)/] %></p>
      <% end %>
      <div id="div_montos" style="display:none"><!--Los montos se insertan con javascript--></div>
    </div>

    <!--CONTACTO-->
    <%if @recharge.new_record?%>
      <div class="grupo" id="contenedor-switch">
        <div class="swtich-container">
          <input type="checkbox" id="switch" name="recharge[save_number]" onchange="show_input_names(this)">
          <label for="switch" class="lbl" style="margin-bottom:0px;"></label>
          <label for="switch" class="font-weight-bold align-middle" id="label_switch" style="cursor:pointer;">Guardar número</label>
        </div>
      </div>

      <div class="grupo" id="name_contact" style="display:none;">
        <input class="input-special" maxlength="20" size="20" type="text" name="recharge[names]" id="recharge_names_contact"><span class="barra"></span>
        <label class="label-special">Nombre o alias</label>
        <span class="badge badge-pill badge-danger" id="msj_error_names" style="display:none;">Este campo no puede estar vacío</span>
      </div>
    <%end%>

    <div class="actions">
      <button type="button" class="btn_standar btn-common btn-effect text-uppercase" id="btn_recarga" onclick="validation_submit()">Recargar</button>

      <%if current_user.is_admin?%>
        <input type="hidden" name="recharge[operation]" id="operation_admin">

        <button type="button" class="mt-2 btn_standar btn-common btn-effect text-uppercase bg-danger" onclick="show_modal_anulate(event)">Anular</button>
      <%end%>

      <%=form.submit "Recargar", class: "d-none", id: "btn_submit"%>
    </div>
  </div>
<% end %>
