<%= form_for @recharge, {remote: true}  do |form| %>
  <div class="form">
    <div class="grupo" id="input_cod_area">
      <%= form.text_field :cod_area, oninput: "format_number(this)", onfocus: "show_cod_area()", onblur: "ocultar_cod_area()", maxlength: "4" %><span class="barra"></span>
      <%= form.label :cod_area, "Cod. Área", for: "", class: "" %>
      <span class="badge badge-pill badge-danger" id="msj_error_cod_area" style="display:none;">El código de área es inválido.</span>
      <div id="cont-option-list" style="display:none"><!--Los codigos de area se insertan con javascript--></div>
    </div>
    <div class="grupo">
      <%= form.text_field :phone, :oninput => "format_number(this)" %><span class="barra"></span>
      <%= form.label :phone, "Número", for:"", class: "" %>
      <span class="badge badge-pill badge-danger" id="msj_error_number_phone" style="display:none;">El número debe contener <span id="digit_lenght"></span> dígitos</span>
    </div>
    <div class="grupo" id="input_monto">
      <%= form.text_field :amount, oninput:"format_input_monto_entero(this)", onfocus: "show_montos()", onblur: "ocultar_montos()" %><span class="barra"></span>
      <%= form.label :amount, "Monto", for: "", class: "" %>
      <span class="badge badge-pill badge-danger" id="msj_error_monto" style="display:none;">El monto es inválido.</span>
      <div id="div_montos" style="display:none"><!--Los codigos de area se insertan con javascript--></div>
    </div>

    <%= form.text_field :operator, type:"hidden" %>
    <%= form.text_field :type_payment, type:"hidden" %>
    <div class="actions">
      <button type="button" class="" id="btn_recarga">Recargar</button>
      <%=form.submit "Recargar", class: "d-none", id: "btn_submit"%>
    </div>
  </div>
<% end %>

<script>
  formulario = document.getElementById("new_recharge")

  function change_name_params(modelo) {
    input_cod_area.setAttribute("name",modelo + "[cod_area]")
    input_number_phone.setAttribute("name",modelo + "[phone]")
    input_monto.setAttribute("name",modelo + "[amount]")
    input_operadora.setAttribute("name",modelo + "[operator]")
    input_type_pago.setAttribute("name",modelo + "[type_payment]")
  }

  $("#btn_recarga").click(function() {
    validate_form = true
    if (operation === "recarga") {
        //VALIDACION DE CODIGO DE AREA
        if (show_div_cod_area){
            if (cod_area.indexOf(input_cod_area.value) === -1){
            validate_form = false
            $("#msj_error_cod_area").fadeIn(600)
          }
        }
        
        //VALIDACION DE NUMERO
        digit_limit = input_number_phone.maxLength
       
        if (input_number_phone.value.length != digit_limit){
          validate_form = false
          document.getElementById("digit_lenght").innerText = digit_limit
          $("#msj_error_number_phone").fadeIn(600)
        }

        //VALIDACION DE MONTO
        valor = format_integer(input_monto.value)
        monto_valid = false

        for (let i = monto_min; i <= monto_max; i+=multiplos) {
          if(i === valor){
            monto_valid = true
            break
          }
        }

        if (monto_valid === false) {
          validate_form = false
          $("#msj_error_monto").fadeIn(600)
        }

        //VALIDACION DEL FORMULARIO
        if (validate_form) {
          formulario.setAttribute("action","/recharges")
          change_name_params("recharge")
          $("#btn_submit").trigger("click")
        } else {
          return
        }
    } else {
      //VALIDACION DE CODIGO DE AREA
      if (show_div_cod_area){
          if (cod_area.indexOf(input_cod_area.value) === -1){
          validate_form = false
          $("#msj_error_cod_area").fadeIn(600)
        }
      }
      
      //VALIDACION DE NUMERO
      digit_limit = input_number_phone.maxLength
      
      if (input_number_phone.value.length != digit_limit){
        validate_form = false
        document.getElementById("digit_lenght").innerText = digit_limit
        $("#msj_error_number_phone").fadeIn(600)
      }

      //VALIDACION DEL FORMULARIO
      if (validate_form) {
        formulario.setAttribute("action","/balace_inquiries")
        change_name_params("balace_inquiry")
        $("#btn_submit").trigger("click")
        
      } else {
        return
      }
    }
    
  })
</script>