<button class="btn btn_standar btn-common btn-effect bg-special-two" id="show_info" style="color:white;">
    <i class="fas fa-info-circle"></i>
</button>

<div id="main-container" class="mt-4">

    <table class="table-standar table-historial" id="table_historial">

        <thead class="thead-standar bg-special">
            <tr class="tr-standar">
                <th class="th-standar">Fecha y hora</th>
                <th class="th-standar">Sistema</th>
                <!--<th class="th-standar">T. Pago</th>-->
                <th class="th-standar">Numero</th>
                <th class="th-standar">Monto</th>
                <th class="th-standar">Estatus</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="tbody_historial"><%=render 'recharges_from_historial'%></tbody>

    </table>  
    <%= will_paginate @recharges, class:"pagination d-none"%>
</div>

<%if @recharges.next_page%>
    <div class="contenedor_loader" >
        <div class="loader"></div>
    </div>  
<%end%>

<div class="row justify-content-center">
  <%unless @recharges.any? %>
    <%=render "partials/registro_vacio"%>
  <%end%>
</div>

<%= render 'partials/modal-info', modulo: "historial" %>
<%= render "modal_recharge" %>

<script>
    new ShowModalInfo();

    $(document).ready(function(){
        if ($('.pagination').length) {
            $(window).scroll(function() {
                url = $('.pagination .next_page').attr('href');
                if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50){
                    $.getScript(url)
                    $('.pagination .next_page').removeAttr('href');
                }
            });
        }

        $("#modal_recharge_wrap .modal-content").addClass("bg-dark-strong")
    })                  
</script>