
<div class="float-right">
    <div class="card border-left-success shadow h-100">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-right">
                        Balance</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="card_balance">Bs <%= number_with_precision(current_user.balance.balance, :precision => 2, :delimiter => '.', :separator => ',', :scale => 2)%> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br>

<h3 class="section-title pb-3 mb-4 text-center border-title font-weight-bold">Telefonia Móvil y Fija</h3>

<div class="row justify-content-center">
  <div class="col-lg-3 col-md-4 col-sm-6 col-7 mb-4 div-card">
    <div class="d-block m-auto">
      <%= link_to new_recharge_path, { remote: true, :'data-operator' => 'Movistar', class:"link_new_recharge show_loader_sup"}  do %>
        <div class="card border-left-Movistar shadow h-100 py-2 cont-oper">
          <div class="card-body contenedor-img">
            <%= image_tag("sistema_recargas/movistar.png", class:"img-operadora", width:"100%", height:"70px") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-7 mb-4 div-card">
    <%= link_to new_recharge_path, { remote: true, :'data-operator' => "Digitel", class:"link_new_recharge show_loader_sup"}  do %>
      <div class="card border-left-Digitel shadow h-100 py-2 cont-oper">
        <div class="card-body contenedor-img">
          <%= image_tag("sistema_recargas/digitel.jpeg", class:"img-operadora", width:"100%", height:"70px") %>
        </div>
      </div>
    <%end%>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-7 mb-4 div-card">
    <%= link_to new_recharge_path, { remote: true, :'data-operator' => "Movilnet", class:"link_new_recharge show_loader_sup"}  do %>
      <div class="card border-left-Movilnet shadow h-100 py-2 cont-oper">
        <div class="card-body contenedor-img">
          <%= image_tag("sistema_recargas/movilnet.png", class:"img-operadora", width:"100%", height:"70px") %>
        </div>
      </div>
    <%end%>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-7 mb-4 div-card">
    <%= link_to new_recharge_path, { remote: true, :'data-operator' => "Cantv", class:"link_new_recharge show_loader_sup"}  do %>
      <div class="card border-left-Cantv shadow h-100 py-2 cont-oper">
        <div class="card-body contenedor-img">
          <%= image_tag("sistema_recargas/cantv.png", class:"img-operadora", width:"100%", height:"70px") %>
        </div>
      </div>
    <%end%>
  </div>
</div>

<h3 class="section-title pb-3 mt-5 mb-4 text-center border-title font-weight-bold">Servicios TV</h3>

<div class="row justify-content-center">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-7 mb-4 div-card">
    <%= link_to new_recharge_path, { remote: true, :'data-operator' => "Movistar_TV", class:"link_new_recharge show_loader_sup"}  do %>
      <div class="card border-left-Movistar shadow h-100 py-2 cont-oper">
        <div class="card-body contenedor-img">
          <%= image_tag("sistema_recargas/movistar_tv.png", class:"img-operadora", width:"100%", height:"70px") %>
        </div>
      </div>
    <%end%>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-7 mb-4 div-card">
    <%= link_to new_recharge_path, { remote: true, :'data-operator' => "Inter", class:"link_new_recharge show_loader_sup"}  do %>
      <div class="card border-left-Inter shadow h-100 py-2 cont-oper">
        <div class="card-body contenedor-img">
          <%= image_tag("sistema_recargas/inter.jpeg", class:"img-operadora", width:"100%", height:"70px") %>
        </div>
      </div>
    <%end%>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-7 mb-4 div-card">
    <%= link_to new_recharge_path, { remote: true, :'data-operator' => "Simple_TV", class:"link_new_recharge show_loader_sup"}  do %>
      <div class="card border-left-Simple_TV shadow h-100 py-2 cont-oper">
        <div class="card-body contenedor-img">
          <%= image_tag("sistema_recargas/simple_tv.jpeg", class:"img-operadora", width:"100%", height:"70px") %>
        </div>
      </div>
    <%end%>
  </div>
</div>

<h3 class="section-title pb-3 mt-5 mb-4 text-center border-title font-weight-bold">Consultas y pagos Post-Pago</h3>

<div id="contenedor_consultations">
  <div class="row justify-content-center" id="sub_contenedor_consultation">
    <%current_user.recharges.where(type_operation: "consultation").each do |recharge|%>
      <%=render "caja_consultation", recharge: recharge%>
    <%end%>
  
    <%unless current_user.recharges.where(type_operation: "consultation").any?%>
      <%=render "partials/registro_vacio"%>
    <%end%>
  </div>
</div>
<%= render "modal_buscador_contacts"%>

<%=render "modal_recharge"%>

<script>
  <%= render "element_dom_globales"%>
  
  /*
  if(typeof refresh === "undefined"){
      refresh = setInterval(refrescarNotificaciones, 15000);
      $.ajaxSetup({ cache: false });
  }
  
  */
  
  //Variables globales
  show_div_cod_area = false
  operation = ""
  operadora_val = ""
  
  function card_options_function(event) {

    if ($("#recharge_operator") != null){
      if($("#recharge_type_payment").val().length === 0 ){
        $("#recharge_type_payment").val($(this).data("pago"))
      }
      
      switch ($("#recharge_operator").val()) {
        case "Movistar":
          
          monto_min = <%=@params_movistar.amount_min%>
          <%if current_user.balance.balance >= @params_movistar.amount_max%>
            monto_max = <%=@params_movistar.amount_max%>
          <%else%>
            monto_max = <%=current_user.balance.balance%>
          <%end%>

          multiplos = <%=@params_movistar.multiplos_amount_permit%>
          if($("#recharge_type_payment").val() === "Prepago"){
            show_div_cod_area = true
            operation = "recarga"
            cod_area = [...cod_area_movistar,...cod_area_tlf_fija]
          }else{
            show_div_cod_area = false
            operation = "consulta"
            cod_area = []
            $("#btn_recarga").text("consultar")
          }
          show_form(monto_min,monto_max,multiplos)
          break;

        case "Digitel":

          cod_area = [...cod_area_digitel,...cod_area_tlf_fija]

          monto_min = <%=@params_digitel.amount_min%>
          <%if current_user.balance.balance >= @params_digitel.amount_max%>
            monto_max = <%=@params_digitel.amount_max%>
          <%else%>
            monto_max = <%=current_user.balance.balance%>
          <%end%>

          multiplos = <%=@params_digitel.multiplos_amount_permit%>
          show_div_cod_area = true

          if($("#recharge_type_payment").val() === "Prepago"){
            operation = "recarga"
          }else{
            operation = "consulta"
            $("#btn_recarga").text("consultar")
          }

          show_form(monto_min,monto_max,multiplos)
          break;

        case "Inter":

          cod_area = []

          monto_min = <%=@params_inter.amount_min%>
          <%if current_user.balance.balance >= @params_inter.amount_max%>
            monto_max = <%=@params_inter.amount_max%>
          <%else%>
            monto_max = <%=current_user.balance.balance%>
          <%end%>

          multiplos = <%=@params_inter.multiplos_amount_permit%>
          show_div_cod_area = false

          if($("#recharge_type_payment").val() === "Prepago"){
            operation = "recarga"
          }else{
            operation = "consulta"
            $("#btn_recarga").text("consultar")
          }
          show_form(monto_min,monto_max,multiplos)
          break;

        default:
          break;
      }
    }
  }

  for (let i = 0; i < card_options.length; i++) {
    card_options[i].addEventListener("click",card_options_function)
  }
</script>
