<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="Bootstrap, Landing page, Template, Registration, Landing"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="author" content="Grayrids" />
    <title>Recargas Fast</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/line-icons.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/nivo-lightbox.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/responsive.css" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!-- Preloader -->
    <div class="contenedor_loader_sup bg-special">
        <div class="loader loader-sup-tam"></div>
    </div> 
    <!-- End Preloader -->

    <!-- Header Section Start -->
    <header id="home" class="hero-area">
      <div class="overlay"></div>
      <nav
        class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar"
      >
        <div class="container">
          <a href="#" class="navbar-brand"
            ><%= image_tag("logo/Marca_blank_2.png", width:"130px", height:"40px") %></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#features">Características</a>
              </li>

              <li class="nav-item">
                <a class="nav-link page-scroll" href="#features-two">Beneficios</a>
              </li>

              <li class="nav-item">
                <a class="nav-link page-scroll" href="#screenshots"
                  >Socios</a
                >
              </li>
              <!--
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#team">Equipo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#testimonial"
                  >Testimonios</a
                >
              </li>-->

              <li class="nav-item">
                <a class="nav-link page-scroll" href="#blog">Noticias</a>
              </li>

              <li class="nav-item">
                <a class="btn btn-trial" href="<%=url_for(new_user_session_url)%>">Entrar ó Registrarse</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row space-100">
          <div class="col-lg-7 col-md-12 col-xs-12">
            <div class="contents">
              <h2 class="head-title">
                Sistema definitivo de Recargas<br/>y Pagos en Venezuela. 
              </h2>
              <p>
                Recarga a todas las operadoras y servicios de TV satelital del pais prepago y post-pago de forma ágil y rapida.
              </p>
              <div class="header-button">
                <a href="/users/login_or_register" class="btn btn-border-filled">Iniciar Sesión</a>
                <a href="/users/register_or_login" class="btn btn-border">Registrarse</a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="intro-img">
              <%= image_tag("logo/Logo_landing.png") %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- features Section Start -->
    <div id="features" class="section">
      <div class="container">
        <div class="section-header">
          <p
            class="btn btn-subtitle wow fadeInDown animated"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              -webkit-animation-delay: 0.2s;
              -moz-animation-delay: 0.2s;
              animation-delay: 0.2s;
            "
          >
            Por qué
          </p>
          <h2
            class="section-title wow fadeIn animated"
            data-wow-delay="0.2s"
            style="
              visibility: visible;
              -webkit-animation-delay: 0.2s;
              -moz-animation-delay: 0.2s;
              animation-delay: 0.2s;
            "
          >
            Interfaz rápida e impresionante
          </h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <div
              class="feature-thumb wow fadeInDown animated"
              data-wow-delay="0.3s"
              style="
                visibility: visible;
                -webkit-animation-delay: 0.3s;
                -moz-animation-delay: 0.3s;
                animation-delay: 0.3s;
              "
            >
              <%= image_tag("macbook.png", {class:"img-fluid"}) %>
            </div>
            <div class="feature-content">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="free-tab"
                    data-toggle="tab"
                    href="#free"
                    role="tab"
                    aria-controls="free"
                    aria-selected="false"
                    ><i class="lni-star"></i> <br />
                    Fácil de usar</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active show"
                    id="massaging-tab"
                    data-toggle="tab"
                    href="#massaging"
                    role="tab"
                    aria-controls="massaging"
                    aria-selected="true"
                    ><i class="lni-pie-chart"></i> <br />
                    Análisis de negocio</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="safely-tab"
                    data-toggle="tab"
                    href="#safely"
                    role="tab"
                    aria-controls="safely"
                    aria-selected="false"
                    ><i class="lni-shield"></i> <br />
                    Seguridad robusta</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="support-tab"
                    data-toggle="tab"
                    href="#support"
                    role="tab"
                    aria-controls="support"
                    aria-selected="false"
                    ><i class="lni-headphone-alt"></i> <br />
                    Soporte 24/7</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade"
                  id="free"
                  role="tabpanel"
                  aria-labelledby="free-tab"
                >
                  Con un diseño intuitivo nuestra plataforma te permite disfrutar de sus beneficios de manera fácil, con opciones sencillas. Nuestra plataforma esta diseñada para que puedas entender todo el proceso de recargas de manera fácil sin complicaciones al mismo tiempo que nos aseguramos que el proceso de las mismas sean lo mas eficientes y rápidas posibles.
                </div>
                <div
                  class="tab-pane fade active show"
                  id="massaging"
                  role="tabpanel"
                  aria-labelledby="massaging-tab"
                >
                  En tu Dashboard podrás monitorear en todo momento el historial de tus ventas por año reflejadas en gráficos que te permitiran analizar de una manera más práctica aspectos clave de la evolución de tu negocio como el incremento o decremento de tus ventas, cuales servicios son los más solicitados, etc.
                </div>
                <div
                  class="tab-pane fade"
                  id="safely"
                  role="tabpanel"
                  aria-labelledby="safely-tab"
                >
                  Nuestra plataforma cuenta con una seguridad robusta en terminos informáticos con la que garantizamos la integridad de tu información. Siempre y cuando cumplas con tu parte de responsabilidad en la seguridad de tus datos de usuario y demás tu experiencia aqui sera tranquila y segura. 
                </div>
                <div
                  class="tab-pane fade"
                  id="support"
                  role="tabpanel"
                  aria-labelledby="support-tab"
                >
                  Tenemos un excelente equipo de atención dispuestos tanto a procesar tus compras de saldo como ayudarte a solucionar cualquier inconveniente en el menor tiempo posible.<br><br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- features Section End -->

    <!-- Datos estadisticos-->
    <section id="counter" class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="counter-text">
              <div>
                <p class="btn btn-subtitle">Datos estadísticos</p>
                <h3>Números que hablan por si mísmos</h3>
                <div class="desc-text">
                  <p>
                    Mostramos con transparencia los datos claves de nuestros resultados obtenidos gracias al trabajo responsable y profesional asi como nuestra dedicación en ofrecer el mejor servicio posible innovando recurrentemente para que esta plataforma sea la más completa del pais en lo relacionado al servicio que ofrecemos y que la experiencia de todos nuestros usuarios sea la mejor posible.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="row">
              <!-- Start counter -->
              <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="counter-box bg-color-1">
                  <div class="fact-count">
                    <h3><span class="counter"><%=@usuarios%></span></h3>
                    <p>Usuarios</p>
                  </div>
                  <div class="icon-o"><i class="lni-users"></i></div>
                </div>
              </div>
              <!-- End counter -->
              <!-- Start counter -->
              <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="counter-box bg-color-4">
                  <div class="fact-count">
                    <h3><span class="counter"><%=@premiados%></span></h3>
                    <p>Premiados</p>
                  </div>
                  <div class="icon-o"><i class="lni-emoji-smile"></i></div>
                </div>
              </div>
              <!-- End counter -->
              <!-- Start counter -->
              <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="counter-box bg-color-2">
                  <div class="fact-count">
                    <h3><span class="counter"><%=@recargas_confirmadas%></span></h3>
                    <p>Recargas<br>realizadas</p>
                  </div>
                  <div class="icon-o"><i class="lni-thumbs-up"></i></div>
                </div>
              </div>
              <!-- End counter -->
              <!-- Start counter -->
              <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="counter-box bg-color-3">
                  <div class="fact-count">
                    <h3><span class="counter"><%=@Solicitudes_pendientes%></span></h3>
                    <p>Solicitudes<br>pendientes</p>
                  </div>
                  <div class="icon-o"><i class="lni-timer"></i></div>
                </div>
              </div>
              <!-- End counter -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Datos estadisticos End -->

    <!-- INFORMACION DE LOS SERVICIOS DE LA PAGINA CON MARKETING-->
    <div id="features-two" class="section">
      <div class="container">
        <div class="row">
          <!--PRIMERO-->
          <div class="col-lg-6 col-md-12 col-sm-12 order-1">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <%= image_tag("servicios/ganancias.png", {class:"img-fluid w-75 w-lg-100 h-auto m-auto", style:"display:inherit;"}) %>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 order-2">
            <div class="text-wrapper text-center text-lg-left wow fadeInRight" data-wow-delay="0.6s">
              <div>
                <p class="btn btn-subtitle">Cómo funciona?</p>
                <h3>Comienza tu negocio</h3>
                <p>
                  Fondea tu cuenta por medio de transferencias bancarias, pago movil interbancario y/o monederos electrónicos y recarga a todas las operadoras y servicios de TV con los que trabajamos sin comisiones, pudiendo tú mismo elegir el porcentaje con el que desees trabajar y cobrar a tus clientes.
                </p>
                <!--
                <a class="btn btn-rm" href="#"
                  >Leer Más <i class="lni-arrow-right"></i
                ></a>-->
              </div>
            </div>
          </div>

          <!--SEGUNDO-->
          <div class="col-lg-6 col-md-12 col-sm-12 order-4 order-lg-3">
            <div class="text-wrapper text-center text-lg-left wow fadeInRight" data-wow-delay="0.9s">
              <div>
                <p class="btn btn-subtitle">Dashboard</p>
                <h3>Seguimiento de tu negocio</h3>
                <p>
                  Monitorea en todo momento el estado de tus ventas por medio de los graficos que reflejaran datos claves para medir el progreso de tu negocio, guarda los números de tus clientes frecuentes y accede a ellos de manera agil y rapida, conoce el saldo restante y las deudas de los sistemas para los cuales este disponible esa información y mucho más.
                </p>
                <!--
                <a class="btn btn-rm" href="#"
                  >Leer Más <i class="lni-arrow-right"></i
                ></a>-->
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 order-3 order-lg-4">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="1.2s">
              <%= image_tag("servicios/graficos.png", {class:"img-fluid w-75 w-lg-100 h-auto m-auto", style:"display:inherit;"}) %>
            </div>
          </div>

          <!--TERCERO-->
          <div class="col-lg-6 col-md-12 col-sm-12 order-5">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <%= image_tag("servicios/premios.png", {class:"img-fluid w-75 w-lg-100 h-auto m-auto", style:"display:inherit;"}) %>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 order-6">
            <div class="text-wrapper text-center text-lg-left wow fadeInRight" data-wow-delay="0.6s">
              <div>
                <p class="btn btn-subtitle">Premios 2x2</p>
                <h3>Premiamos tu constancia</h3>
                <p>
                  Todos los meses seleccionamos una cantidad de usuarios de acuerdo a sus ventas para repartir bonificaciones directamente a su balance en base al saldo que hayan vendido.
                </p>
                <div id="content-complet-premios" style="display:none">
                  <br><p>
                    Cada final de mes seleccionaremos de la lista de usuarios registrados en ese momento al 2% de los usuarios que tengan mas ventas de saldo en Bs registradas y le enviaremos directamente a su balance el 2% del monto total que hayan vendido en ese mes.
                  </p>
                  <br><p>
                    La lista de los premiados la podras ver en la sección << Premios del Mes >> dentro de tu cuenta a la que podrás acceder a partir del 01 de Julio del año 2021.
                  </p>
                </div>
                <a class="btn btn-rm" href="#" onclick="read_more(this,event,'#content-complet-premios')"
                  >Leer Más <i class="lni-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>

          <!--CUARTO-->
          <div class="col-lg-6 col-md-12 col-sm-12 order-8 order-lg-7">
            <div class="text-wrapper text-center text-lg-left wow fadeInRight" data-wow-delay="0.9s">
              <div>
                <p class="btn btn-subtitle">Unete a nosotros</p>
                <h3>Gana ayudándonos a crecer</h3>
                <p>
                  Ayudanos a darnos a conocer aun más y recibe bonificaciones por las ventas de los usuarios que esten registrados con tu link.
                </p>
                <div style="display:none;" id="content-complet-sociedad">
                  <br><p>
                    Comparte el link de referido que te suministramos en tu cuenta con todos tus amigos, familiares y en tus redes sociales para que otras personas conozcan de nuestra página web por medio de tí. Cada vez que un usuario que se ha registrado con tu link alcance vender <b>Bs 100.000.000</b> en saldo, tú recibiras una bonificación de <b>Bs 500.000</b> directo en tu balance al final de mes.
                  </p>

                  <br><p>
                    Para poder ser beneficiario de esta bonificación deberás tener un mínimo de cinco (05) usuarios registrados con tu link. A partir de ese momento cada vez que dichos usuarios alcancen el monto en ventas requerido recibiras la bonificación mencionada por lo que podrás tener con trabajo y diligencia un ingreso pasivo importante si te lo propones.
                  </p>

                  <br><p>
                    Esta promoción estará disponible hasta el 23 de agosto del 2022.
                  </p>
                 
                </div>
                <a class="btn btn-rm" href="#" onclick="read_more(this,event,'#content-complet-sociedad')"
                  >Leer Más <i class="lni-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 order-7 order-lg-8">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="1.2s">
              <%= image_tag("servicios/sociedad.png", {class:"img-fluid w-75 w-lg-100 h-auto m-auto", style:"display:inherit;"}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features Section End -->

    <!-- SOCIOS -->
    <section id="screenshots" class="screens-shot section">
      <div class="container">
        <div class="section-header">
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">
            Socios
          </p>
          <h2 class="section-title">Nuestros servicios asociados</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="screens-slider owl-carousel">
              <div class="item">
                <div class="screenshot-thumb">
                  <%= image_tag("sistema_recargas/movistar.png", style:"width:340px !important;height:140px !important") %>
                </div>
              </div>
              <div class="item">
                <div class="screenshot-thumb">
                  <%= image_tag("sistema_recargas/digitel.png", style:"width:340px !important;height:140px !important") %>
                </div>
              </div>
              <div class="item">
                <div class="screenshot-thumb">
                  <%= image_tag("sistema_recargas/movilnet.png", style:"width:340px !important;height:140px !important") %>
                </div>
              </div>
              <div class="item">
                <div class="screenshot-thumb">
                  <%= image_tag("sistema_recargas/cantv.png", style:"width:340px !important;height:140px !important") %>
                </div>
              </div>
              <div class="item">
                <div class="screenshot-thumb">
                  <%= image_tag("sistema_recargas/movistar_tv.png", style:"width:340px !important;height:140px !important") %>
                </div>
              </div>
              <div class="item">
                <div class="screenshot-thumb">
                  <%= image_tag("sistema_recargas/inter.png", style:"width:340px !important;height:140px !important") %>
                </div>
              </div>
              <div class="item">
                <div class="screenshot-thumb">
                  <%= image_tag("sistema_recargas/simple_tv.png", style:"width:340px !important;height:140px !important") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Awesome Screens Section End -->

    
    <!-- Team section Start 
    <section id="team" class="section">
      <div class="container">
        <div class="section-header">
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">
            Equipo
          </p>
          <h2 class="section-title">Nuestro equipo de expertos</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <div class="team-thumb">
                <%= image_tag("team/team1.jpg" ) %>
                <ul class="social-list">
                  <li class="facebook">
                    <a href="#"><i class="lni-facebook-filled"></i></a>
                  </li>
                  <li class="twitter">
                    <a href="#"><i class="lni-twitter-filled"></i></a>
                  </li>
                  <li class="google-plus">
                    <a href="#"><i class="lni-google-plus"></i></a>
                  </li>
                  <li class="linkedin">
                    <a href="#"><i class="lni-linkedin-fill"></i></a>
                  </li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Mark Parker</h4>
                  <p>Software Engineer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <div class="team-thumb">
                <%= image_tag("team/team2.jpg" ) %>
                <ul class="social-list">
                  <li class="facebook">
                    <a href="#"><i class="lni-facebook-filled"></i></a>
                  </li>
                  <li class="twitter">
                    <a href="#"><i class="lni-twitter-filled"></i></a>
                  </li>
                  <li class="google-plus">
                    <a href="#"><i class="lni-google-plus"></i></a>
                  </li>
                  <li class="linkedin">
                    <a href="#"><i class="lni-linkedin-fill"></i></a>
                  </li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Jhon Deo</h4>
                  <p>Front-end Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <div class="team-thumb">
                <%= image_tag("team/team3.jpg" ) %>
                <ul class="social-list">
                  <li class="facebook">
                    <a href="#"><i class="lni-facebook-filled"></i></a>
                  </li>
                  <li class="twitter">
                    <a href="#"><i class="lni-twitter-filled"></i></a>
                  </li>
                  <li class="google-plus">
                    <a href="#"><i class="lni-google-plus"></i></a>
                  </li>
                  <li class="linkedin">
                    <a href="#"><i class="lni-linkedin-fill"></i></a>
                  </li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Jhon Smith</h4>
                  <p>UI/UX Designer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <div class="team-thumb">
                <%= image_tag("team/team4.jpg" ) %>
                <ul class="social-list">
                  <li class="facebook">
                    <a href="#"><i class="lni-facebook-filled"></i></a>
                  </li>
                  <li class="twitter">
                    <a href="#"><i class="lni-twitter-filled"></i></a>
                  </li>
                  <li class="google-plus">
                    <a href="#"><i class="lni-google-plus"></i></a>
                  </li>
                  <li class="linkedin">
                    <a href="#"><i class="lni-linkedin-fill"></i></a>
                  </li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Elina Dcruz</h4>
                  <p>Digital Marketer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     -->

    <!-- Testimonial Section Start 
    <section id="testimonial" class="section">
      <div class="container">
        <div class="section-header">
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">
            Reseñas
          </p>
          <h2 class="section-title">Clientes satisfechos</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="touch-slider owl-carousel">
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                      <img src="img/testimonial/img1.png" alt="" />
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">
                      Appropriately implement one-to-one catalysts for change
                      vis-a-vis wireless catalysts for change. Enthusiastically
                      architect adaptive. Appropriately implement one-to-one
                      catalysts for change vis-a-vis wireless catalysts for
                      change. Enthu.
                    </p>
                    <div class="author-info">
                      <h2><a href="#">Mark Parker</a></h2>
                      <span>UIdeck</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                      <%= image_tag("testimonial/img2.png" ) %>
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">
                      Appropriately implement one-to-one catalysts for change
                      vis-a-vis wireless catalysts for change. Enthusiastically
                      architect adaptive. Appropriately implement one-to-one
                      catalysts for change vis-a-vis wireless catalysts for
                      change. Enthu.
                    </p>
                    <div class="author-info">
                      <h2><a href="#">Mark Parker</a></h2>
                      <span>Tesla Motors</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                      <%= image_tag("testimonial/img3.png" ) %>
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">
                      Appropriately implement one-to-one catalysts for change
                      vis-a-vis wireless catalysts for change. Enthusiastically
                      architect adaptive. Appropriately implement one-to-one
                      catalysts for change vis-a-vis wireless catalysts for
                      change. Enthu.
                    </p>
                    <div class="author-info">
                      <h2><a href="#">Mark Parker</a></h2>
                      <span>Envato Customer</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                      <%= image_tag("testimonial/img2.png" ) %>
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">
                      Appropriately implement one-to-one catalysts for change
                      vis-a-vis wireless catalysts for change. Enthusiastically
                      architect adaptive. Appropriately implement one-to-one
                      catalysts for change vis-a-vis wireless catalysts for
                      change. Enthu.
                    </p>
                    <div class="author-info">
                      <h2><a href="#">Mark Parker</a></h2>
                      <span>GrayGris Inc.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                      <%= image_tag("testimonial/img1.png" ) %>
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">
                      Appropriately implement one-to-one catalysts for change
                      vis-a-vis wireless catalysts for change. Enthusiastically
                      architect adaptive. Appropriately implement one-to-one
                      catalysts for change vis-a-vis wireless catalysts for
                      change. Enthu.
                    </p>
                    <div class="author-info">
                      <h2><a href="#">- Alex Dattilo</a></h2>
                      <span>CEO Optima Inc</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    -->

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">
            Blog
          </p>
          <h2 class="section-title">Noticias Recientes</h2>
        </div>
        <div class="row">
          
          <!-- NOTICIA NRO 1
          ==================================================-->
          <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="https://noticiasaldiayalahora.co/nacionales/desde-el-mes-de-mayo-los-usuarios-digitel-pueden-dar-un-mensaje-para-el-futuro/" target="_blank">
                  <img src="https://i0.wp.com/noticiasaldiayalahora.co/wp-content/uploads/2021/05/DAR-AVAA-3.jpg?resize=777%2C437&ssl=1" alt="Digitel" style="width:100%; height:230px;">
                </a>
                
                <div class="author-img">
                  <%= image_tag("sistema_recargas/digitel.png", style:"width:100px; height:50px") %>
                </div>
              </div>
              <div class="blog-item-text">
                <h3>
                  <a href="https://noticiasaldiayalahora.co/nacionales/desde-el-mes-de-mayo-los-usuarios-digitel-pueden-dar-un-mensaje-para-el-futuro/" target="_blank"
                    >Desde el mes de mayo los usuarios Digitel pueden DAR un mensaje para el futuro</a
                  >
                </h3>
                <div class="author">
                  <!--<span class="name"><a href="#">Noticias al dia y la hora</a></span>-->
                  <span class="date float-right">26 Mayo, 2021</span>
                </div>
              </div>
            </div>
          </div>

          <!-- NOTICIA NRO 2
          ==================================================-->
          <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="https://noticiasaldiayalahora.co/entretenimiento/simpletv-aspira-convertirse-en-una-multiplataforma-de-entretenimiento-con-servicios-de-internet-en-la-mira/" target="_blank">
                  <img src="https://i1.wp.com/noticiasaldiayalahora.co/wp-content/uploads/2020/12/SimpleTV-1.jpg?resize=777%2C437&ssl=1" alt="Movilnet" style="width:100%; height:230px;">
                </a>
                
                <div class="author-img">
                  <%= image_tag("sistema_recargas/simple_tv.png", style:"width:100px; height:50px") %>
                </div>
              </div>
              <div class="blog-item-text">
                <h3>
                  <a href="https://noticiasaldiayalahora.co/entretenimiento/simpletv-aspira-convertirse-en-una-multiplataforma-de-entretenimiento-con-servicios-de-internet-en-la-mira/" target="_blank"
                    >SimpleTV aspira convertirse en una multiplataforma de entretenimiento con servicios de Internet en la mira</a
                  >
                </h3>
                <div class="author">
                  <!--<span class="name"><a href="#">Noticias al dia y la hora</a></span>-->
                  <span class="date float-right">26 Mayo, 2021</span>
                </div>
              </div>
            </div>
          </div>

          <!-- NOTICIA NRO 3
          ==================================================-->
          <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="https://noticiasaldiayalahora.co/sucesos/funcionarios-de-la-pnb-y-cantv-detenidos-por-hurto-de-material/" target="_blank">
                  <img src="https://i0.wp.com/noticiasaldiayalahora.co/wp-content/uploads/2020/04/cantv_archivo_1.png?resize=728%2C437&ssl=1" alt="Movilnet" style="width:100%; height:230px;">
                </a>
                
                <div class="author-img">
                  <%= image_tag("sistema_recargas/cantv.png", style:"width:100px; height:50px") %>
                </div>
              </div>
              <div class="blog-item-text">
                <h3>
                  <a href="https://noticiasaldiayalahora.co/sucesos/funcionarios-de-la-pnb-y-cantv-detenidos-por-hurto-de-material/" target="_blank"
                    >Funcionarios de la PNB y CANTV detenidos por hurto de material</a
                  >
                </h3>
                <div class="author">
                  <!--<span class="name"><a href="#">Noticias al dia y la hora</a></span>-->
                  <span class="date float-right">26 Mayo, 2021</span>
                </div>
              </div>
            </div>
          </div>

          <!-- NOTICIA NRO 4
          =================================================-->
          <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="https://noticiasaldiayalahora.co/nacionales/conoce-todos-los-canales-que-estaran-disponibles-en-el-servicio-de-tv-satelital-gratuito-de-conatel/" target="_blank">
                  <img src="https://i2.wp.com/noticiasaldiayalahora.co/wp-content/uploads/2021/05/TV-satelital-gratis-Conatel.jpg?resize=777%2C394&ssl=1" alt="conatel" style="width:100%; height:230px;">
                </a>
                
                <!--
                <div class="author-img">
                  <%= image_tag("sistema_recargas/movilnet.png", style:"width:100px; height:50px") %>
                </div>-->
              </div>
              <div class="blog-item-text">
                <h3>
                  <a href="https://noticiasaldiayalahora.co/nacionales/conoce-todos-los-canales-que-estaran-disponibles-en-el-servicio-de-tv-satelital-gratuito-de-conatel/" target="_blank"
                    >Conoce todos los canales que estarán disponibles en el servicio de TV satelital gratuito de Conatel</a
                  >
                </h3>
                <div class="author">
                  <!--<span class="name"><a href="#">Noticias al dia y la hora</a></span>-->
                  <span class="date float-right">24 Mayo, 2021</span>
                </div>
              </div>
            </div>
          </div>

          <!-- NOTICIA NRO 5
          ==================================================-->
          <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="https://noticiasaldiayalahora.co/economia/conozca-las-nuevas-zonas-4g-lte-de-digitel-en-la-region-oriental/" target="_blank">
                  <img src="https://i2.wp.com/noticiasaldiayalahora.co/wp-content/uploads/2020/11/Logo_Digitel_4G_LTE-scaled.jpg?resize=777%2C437&ssl=1" alt="Digitel" style="width:100%; height:230px;">
                </a>
                
                <div class="author-img">
                  <%= image_tag("sistema_recargas/digitel.png", style:"width:100px; height:50px") %>
                </div>
              </div>
              <div class="blog-item-text">
                <h3>
                  <a href="https://noticiasaldiayalahora.co/economia/conozca-las-nuevas-zonas-4g-lte-de-digitel-en-la-region-oriental/" target="_blank"
                    >Conozca las nuevas zonas 4G LTE de Digitel en la región oriental</a
                  >
                </h3>
                <div class="author">
                  <!--<span class="name"><a href="#">Noticias al dia y la hora</a></span>-->
                  <span class="date float-right">22 Mayo, 2021</span>
                </div>
              </div>
            </div>
          </div>

          <!-- NOTICIA NRO 6-->
          <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="https://noticiasaldiayalahora.co/nacionales/movilnet-abre-nueva-modalidad-de-recarga-de-saldo-por-mensaje-de-texto/" target="_blank">
                  <img src="https://i2.wp.com/noticiasaldiayalahora.co/wp-content/uploads/2015/10/movilnet0810152.jpg?resize=640%2C437&ssl=1" alt="Movilnet" style="width:100%; height:230px;">
                </a>
                
                <div class="author-img">
                  <%= image_tag("sistema_recargas/movilnet.png", style:"width:100px; height:50px") %>
                </div>
              </div>
              <div class="blog-item-text">
                <h3>
                  <a href="https://noticiasaldiayalahora.co/nacionales/movilnet-abre-nueva-modalidad-de-recarga-de-saldo-por-mensaje-de-texto/" target="_blank"
                    >Movilnet abre nueva modalidad de recarga de saldo por mensaje de texto</a
                  >
                </h3>
                <div class="author">
                  <!--<span class="name"><a href="#">Noticias al dia y la hora</a></span>-->
                  <span class="date float-right">19 Mayo, 2021</span>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    <!-- download Section Start -->
    <section id="download">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="download-thumb wow fadeInLeft" data-wow-delay="0.2s">
              <%= image_tag("mac.png", {class:"img-fluid"}) %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="download-wrapper wow fadeInRight" data-wow-delay="0.2s">
              <div class="mb-2">
                <div class="download-text">
                  <h4>Descarga nuestra aplicación desde la tienda</h4>
                  <p>
                    Pronto estara disponible nuestra app para que puedas disfrutar de nuestros servicios con más facilidad de uso desde tu dispositivo inteligente.
                  </p>
                </div>
                <div class="header-button">
                  <a href="#" class="btn btn-border"
                    ><i class="lni-apple"></i> AppStore</a
                  >
                  <a href="#" class="btn btn-common btn-effect"
                    ><i class="lni-android"></i> PlayStore</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- download Section Start -->
    
    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <%= image_tag("logo/Marca_blank_2.png", width:"100%") %>
              <!--
              <div class="textwidget">
                <p>
                  Appropriately implement one-to-one catalysts for change
                  vis-a-vis wireless catalysts for change. Enthusiastically
                  architect adaptive.
                </p>
              </div>-->
            </div>
            <!--
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Create a Free Account</h3>
                <ul class="menu">
                  <li><a href="#">Sign In</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Jobs</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Resource</h3>
                <ul class="menu">
                  <li><a href="#">Comunnity</a></li>
                  <li><a href="#">Become a Partner</a></li>
                  <li><a href="#">Our Technology</a></li>
                  <li><a href="#">Documentation</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Support</h3>
                <ul class="menu">
                  <li><a href="#">Terms & Condition</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
              </div>
            </div>-->
          </div>
        </div>
        <!-- Copyright Start  -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                  <p>
                    Elaborado por Recargas Fast
                    <!--<a href="http://uideck.com" rel="nofollow" ></a>-->
                  </p>
                </div>
                <div class="float-right">
                  <ul class="footer-social">
                    <li>
                      <a class="facebook" href="https://www.facebook.com/Recargas-Fast-108041258134695" target="_blank"
                        ><i class="lni-facebook-filled" style="font-size:30px"></i
                      ></a>
                    </li>
                    <!--
                    <li>
                      <a class="twitter" href="#"
                        ><i class="lni-twitter-filled"></i
                      ></a>
                    </li>
                    <li>
                      <a class="linkedin" href="#"
                        ><i class="lni-linkedin-fill"></i
                      ></a>
                    </li>-->
                    <li>
                      <a class="whatsapp" href="https://wa.me/message/OPTJGH6ZPDYRH1" target="_blank">
                        <i class="fab fa-whatsapp" style="font-size:35px"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#home" class="scroll-to-top rounded">
      <i class="lni-chevron-up"></i>
    </a>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    
    <script src="/js/jquery-min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <%=render "partials/script_show_notification"%>

    <script src="/js/owl.carousel.js"></script>
    <script src="/js/jquery.mixitup.js"></script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/scrolling-nav.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/nivo-lightbox.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/main.js"></script>

    <script>
        function read_more(link,event,id_content) {
          event.preventDefault()
          $(id_content).fadeToggle(400)

          if (link.innerText.indexOf("Leer Más") != -1){
            link.innerHTML = "Leer Menos <i class='lni-arrow-left'></i>"
          }else{
            link.innerHTML = "Leer Más <i class='lni-arrow-right'></i>"
          }
        }
    </script>
  </body>
</html>