<p id="notice"><%= notice %></p>

<p>
  <strong>Movistar:</strong>
  <%= @system_configuration.movistar %>
</p>

<p>
  <strong>Digitel:</strong>
  <%= @system_configuration.digitel %>
</p>

<p>
  <strong>Movilnet:</strong>
  <%= @system_configuration.movilnet %>
</p>

<p>
  <strong>Cantv:</strong>
  <%= @system_configuration.cantv %>
</p>

<p>
  <strong>Movistar tv:</strong>
  <%= @system_configuration.movistar_tv %>
</p>

<p>
  <strong>Inter:</strong>
  <%= @system_configuration.inter %>
</p>

<p>
  <strong>Simple tv:</strong>
  <%= @system_configuration.simple_tv %>
</p>

<p>
  <strong>Dolar bcv:</strong>
  <%= @system_configuration.dolar_bcv %>
</p>

<%= link_to 'Edit', edit_system_configuration_path(@system_configuration) %> |
<%= link_to 'Back', system_configurations_path %>
